<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Blue:APIKey" value="API KEY GOES HERE" />
  <add key="WS:EndpointAddress" value ="https://BlueAppURL/BlueAppWS/bluewebservice.svc"/>
  <add key="Blue:DataSourceName" value ="Data source name goes here"/>

  <add key="File:CSVFileLocation" value ="C:\TempImport\DataSourceName.csv"/>
  <add key="File:JsonFileLocation" value ="C:\TempImport\DataSourceName.json"/>
</appSettings>