<?xml version="1.0" encoding="utf-8" ?>
<bindings>
  <basicHttpBinding>
    <binding name="BasicHttpBinding_IBlueWebService" messageEncoding="Mtom" />
    <binding name="BasicHttpBinding_IBlueWebService1" closeTimeout="00:05:00"
      openTimeout="00:05:00" receiveTimeout="00:50:00" sendTimeout="23:59:59"
      allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
      maxReceivedMessageSize="2147483647" useDefaultWebProxy="true"
      messageEncoding="Mtom">
      <security mode="Transport">
        <transport clientCredentialType="None" />
      </security>
    </binding>
    <binding name="BasicHttpBinding_IBlueWebService2" messageEncoding="Mtom" />
    <binding name="BasicHttpBinding_IBlueWebService11" messageEncoding="Mtom">
      <security mode="Transport" />
    </binding>
  </basicHttpBinding>
  <netTcpBinding>
    <binding name="NetTcpBinding_IBlueWebService" transferMode="Streamed">
      <security mode="None">
        <transport sslProtocols="None" />
      </security>
    </binding>
  </netTcpBinding>
  <wsHttpBinding>
    <binding name="WSHttpBinding_IBlueWebService" />
    <binding name="WSHttpBinding_IBlueWebService1">
      <security mode="Transport">
        <transport clientCredentialType="None" />
      </security>
    </binding>
    <binding name="WSHttpBinding_IBlueWebService2" />
    <binding name="WSHttpBinding_IBlueWebService11" closeTimeout="00:05:00"
      openTimeout="00:05:00" receiveTimeout="00:50:00" sendTimeout="23:59:59"
      allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
      maxReceivedMessageSize="2147483647" useDefaultWebProxy="true"
      messageEncoding="Mtom">
      <security mode="Transport">
        <transport clientCredentialType="None" />
      </security>
    </binding>
  </wsHttpBinding>
</bindings>