<?xml version="1.0" encoding="utf-8" ?>
<client>
  <endpoint address="https://cs.bluera.com/cs1WS/BlueWebService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBlueWebService"
    contract="BlueWS.IBlueWebService" name="WSHttpBinding_IBlueWebService">
    <identity>
      <servicePrincipalName value="host/bluetrials" />
    </identity>
  </endpoint>
  <endpoint address="https://cs.bluera.com/cs1WS/BlueWebService.svc/file"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBlueWebService"
    contract="BlueWS.IBlueWebService" name="BasicHttpBinding_IBlueWebService" />
  <endpoint address="https://cs.bluera.com/cs1WS/BlueWebService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBlueWebService1"
    contract="BlueWS.IBlueWebService" name="WSHttpBinding_IBlueWebService1" />
  <endpoint address="https://cs.bluera.com/cs1WS/BlueWebService.svc/file"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBlueWebService1"
    contract="BlueWS.IBlueWebService" name="BasicHttpBinding_IBlueWebService1" />
  <endpoint address="http://vm-blpnl-web-02.explorance.cloud/disazureWS/BlueWebService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBlueWebService2"
    contract="BlueWS.IBlueWebService" name="WSHttpBinding_IBlueWebService2">
    <identity>
      <servicePrincipalName value="host/vm-blpnl-web-02.explorance.cloud" />
    </identity>
  </endpoint>
  <endpoint address="http://vm-blpnl-web-02.explorance.cloud/disazureWS/BlueWebService.svc/file"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBlueWebService2"
    contract="BlueWS.IBlueWebService" name="BasicHttpBinding_IBlueWebService2" />
  <endpoint address="https://cs.bluera.com/cs1WS/BlueWebService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBlueWebService11"
    contract="BlueWS.IBlueWebService" name="WSHttpBinding_IBlueWebService11" />
  <endpoint address="https://cs.bluera.com/cs1WS/BlueWebService.svc/file"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBlueWebService11"
    contract="BlueWS.IBlueWebService" name="BasicHttpBinding_IBlueWebService11" />
  <endpoint address="net.tcp://vm-blpnl-web-02.explorance.cloud/disazureWS/BlueWebService.svc"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBlueWebService"
    contract="BlueWS.IBlueWebService" name="NetTcpBinding_IBlueWebService" />
</client>